openapi: "3.0.0"

info:
  version: 1.2.1
  title: Coinpaprika API Experimental Version
  x-logo:
    url: "https://coinpaprika.com/static/files/d6d3c6e3.svg#greywizard/rock-coin-web/assets/coin/img/cp-logo-beta.svg"
    backgroundColor: "#FFFFFF"
  description: |
    Coinpaprika API delivers free & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.
    # Clients
    * [PHP](https://github.com/coinpaprika/coinpaprika-api-php-client)
    * [NodeJS](https://github.com/coinpaprika/coinpaprika-api-nodejs-client)
    * [GO](https://github.com/coinpaprika/coinpaprika-api-go-client)
    * [Swift](https://github.com/coinpaprika/coinpaprika-api-swift-client)
    * Community Contributed Clients:
      * [C#](https://github.com/MSiccDev/CoinpaprikaAPI)
    # General
    * The base endpoint is: https://api.coinpaprika.com/v1/
    * All endpoints return either a JSON object or array
    * All timestamp related fields are in seconds
    # Errors
    * API errors are formatted as JSON:
    ```{"error": "<error message>"}```
    * HTTP 4XX return codes are used for invalid requests - the issue is on the sender's side
    * HTTP 429 return code is used when breaking a request rate limit
    * HTTP 5XX return codes are used for internal errors - the issue is on coinpaprika's side
    # Rate limit
    * Single IP address can send less than 10 requests per second

servers:
- url: https://api.coinpaprika.com/v1

tags:
- name: "global"
- name: "coins"
- name: "tags"
- name: "tickers"
- name: "search"

paths:
  # Global
  /global:
    $ref: "paths/global.yml#/global"

  # Coins
  /coins:
    $ref: "paths/coins.yml#/coins"

  # Tags
  /tags:
    $ref: "paths/tags.yml#/tags"
  /tags/{tag_id}:
    $ref: "paths/tags.yml#/tag_by_id"

  # Tickers
  /ticker:
    $ref: "paths/tickers.yml#/ticker"

  /ticker/{coin_id}:
    $ref: "paths/tickers.yml#/ticker_by_coin_id"

  # Search
  /search:
    $ref: "paths/search.yml#/search"

