swagger: "2.0"
info:
  x-logo:
    url: "https://coinpaprika.com/static/files/d6d3c6e3.svg#greywizard/rock-coin-web/assets/coin/img/cp-logo-beta.svg"
    backgroundColor: "#FFFFFF"
  description: |
    Coinpaprika API delivers free & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.
    # Clients
    * [PHP](https://github.com/coinpaprika/coinpaprika-api-php-client)
    * [NodeJS](https://github.com/coinpaprika/coinpaprika-api-nodejs-client)
    * [GO](https://github.com/coinpaprika/coinpaprika-api-go-client)
    * [Swift](https://github.com/coinpaprika/coinpaprika-api-swift-client)
    * Community Contributed Clients:
      * [C#](https://github.com/MSiccDev/CoinpaprikaAPI)
    # General
    * The base endpoint is: https://api.coinpaprika.com/v1/
    * All endpoints return either a JSON object or array
    * All timestamp related fields are in seconds
    # Errors
    * API errors are formatted as JSON:
    ```{"error": "<error message>"}```
    * HTTP 4XX return codes are used for invalid requests - the issue is on the sender's side
    * HTTP 429 return code is used when breaking a request rate limit
    * HTTP 5XX return codes are used for internal errors - the issue is on coinpaprika's side
    # Rate limit
    * Single IP address can send less than 10 requests per second

  version: "1.2.1"
  title: "Coinpaprika API"
host: "api.coinpaprika.com"
basePath: "/v1"
tags:
  - name: "global"
  - name: "coins"
  - name: "ticker"
  - name: "search"
schemes:
  - "https"
paths:
  /global:
    get:
      tags:
        - "global"
      summary: "Get global information"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Global"
        429:
          description: "too many requests"

  /coins:
    get:
      tags:
        - "coins"
      summary: "Get all coins listed on coinpaprika"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Coin"
        429:
          description: "too many requests"

  /ticker:
    get:
      tags:
        - "ticker"
      summary: "Get ticker information for all coins"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tick"
        429:
          description: "too many requests"
  /ticker/{coin_id}:
    get:
      tags:
        - "ticker"
      summary: "Get ticker information for specific coin"
      produces:
        - "application/json"
      parameters:
        - name: "coin_id"
          in: "path"
          required: true
          description: "ID of coin to return e.g. btc-bitcoin, eth-ethereum"
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Tick"
        429:
          description: "too many requests"
        404:
          description: "coin not found"
  /search/:
    get:
      tags:
        - "search"
      summary: "Search for currencies/icos/people/exchanges/tags"
      produces:
        - "application/json"
      parameters:
        - name: "q"
          in: "query"
          required: true
          description: "phrase for search eg. `btc`"
          type: "string"
        - name: "c"
          in: "query"
          required: false
          description: "one or more categories (comma separated) to search. Available options: `currencies|exchanges|icos|people|tags`"
          default: "currencies,exchanges,icos,people,tags"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit of results per category (max 250)"
          default: 6
          type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SearchResults"
        429:
          description: "too many requests"
        400:
          description: "invalid parameters"

definitions:
  Tick:
    type: "object"
    description: "Tick response. Missing values are returned as empty string"
    properties:
      id:
        type: "string"
        example: "btc-bitcoin"
      name:
        type: "string"
        example: "Bitcoin"
      symbol:
        type: "string"
        example: "BTC"
      rank:
        type: "string"
        example: "1"
      price_usd:
        type: "string"
        example: "9259.01"
      price_btc:
        type: "string"
        example: "1"
      volume_24h_usd:
        type: "string"
        example: "8102619999"
      market_cap_usd:
        type: "string"
        example: "157468557128"
      circulating_supply:
        type: "string"
        example: "17007062"
      total_supply:
        type: "string"
        example: "17007062"
      max_supply:
        type: "string"
        example: "21000000"
      percent_change_1h:
        type: "string"
        example: "-0.26"
      percent_change_24h:
        type: "string"
        example: "0.22"
      percent_change_7d:
        type: "string"
        example: "4.1"
      last_updated:
        type: "string"
        example: "1525088839"
  Coin:
    type: "object"
    properties:
      id:
        type: "string"
        example: "btc-bitcoin"
      name:
        type: "string"
        example: "Bitcoin"
      symbol:
        type: "string"
        example: "BTC"
      rank:
        type: "integer"
        example: 1
      is_new:
        type: "boolean"
        example: false
        description: "If currency was added within last 5 days"
      is_active:
        type: "boolean"
        example: true
  Global:
    type: "object"
    properties:
      market_cap_usd:
        type: "number"
        example: 430252937008
      volume_24h_usd:
        type: "number"
        example: 430252937008
      bitcoin_dominance_percentage:
        type: "number"
        example: 36.67
      cryptocurrencies_number:
        type: "integer"
        example: 1587
      last_updated:
        type: "integer"
        example: 1525089441
  SearchResults:
    type: "object"
    properties:
      currencies:
        type: "array"
        items:
          $ref: "#/definitions/Coin"
      icos:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "string"
              example: "fil-filecoin-futures"
            name:
              type: "string"
              example: "Filecoin"
            symbol:
              type: "string"
              example: "FIL"
            is_new:
              type: "boolean"
              example: false
              description: "If ico was added within last 5 days"
      exchanges:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "string"
              example: "binance"
            name:
              type: "string"
              example: "Binance"
            rank:
              type: "integer"
              example: 1
      people:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "string"
              example: "vitalik-buterin"
            name:
              type: "string"
              example: "Vitalik Buterin"
            teams_count:
              type: "integer"
              example: 5
              description: "Number of teams where person is a member"
      tags:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "string"
              example: "blockchain-service"
            name:
              type: "string"
              example: "Blockchain Service"
            coin_counter:
              type: "integer"
              example: 160
              description: "Number of currencies with this tag"
            ico_counter:
              type: "integer"
              example: 80
              description: "Number of icos with this tag"